.show-item-container {
	border: 1px solid green;
	box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.4);
	display: grid;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin: 10px;
	margin-top: 20px;
	text-align: center;
}

.extra-info {
	color: var(--extra-color);
	font-size: 15px;
	padding: 0;
	margin: 0;
}
.extra-info.bold {
	font-weight: 600;
}

.btn.add-to-wishlist {
	background-color: var(--button-background);
	padding: 10px 8px;
	border-radius: 10px;
	font-family: var(--button-font);
}

.btn.add-to-wishlist:hover {
	background-color: var(--button-hover-background);
}

#preview {
	text-decoration: none;
	background-color: var(--button-background);
	border-color: 1px solid var(--button-border-color);
	padding: 12px 15px;
	border-radius: 10px;
	font-family: var(--button-font);
	color: var(--button-border-color);
	margin-left: 30px;
	display: inline-block;
}

.show-item-container.links {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 0px 15px;
	margin: 10px;
}

#desc {
	display: none;
}

@media (min-width: 768px) {
	.show-item-container {
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			'image title'
			'description description'
			'publisher publisher'
			'links links';
	}

	.image {
		grid-area: image;
	}

	.title-info {
		grid-area: title;
		text-align: left;
	}

	.description {
		padding-top: 10px;
		margin-bottom: 5px;
		grid-area: description;
		position: relative;
		display: inline-block;
		font-family: var(--description-font);
		font-size: 15px;
		text-align: justify;
	}

	.publisher {
		grid-area: publisher;
		padding: 5px;
	}

	.links {
		grid-area: links;
	}

	#desc {
		display: block;
		margin-bottom: 0;
	}

	#preview {
		padding: 12px 32px;
	}

	/* Description Tooltip 
	Source for Tooltip - https://webdesign.tutsplus.com/tutorials/css-tooltip-magic--cms-28082 */
	[tooltip]::before,
	[tooltip]::after {
		line-height: 1;
		user-select: none;
		pointer-events: none;
		position: absolute;
		display: none;
		opacity: 0;
		text-transform: none;
		font-size: 0.9em;
	}

	[tooltip]::before {
		content: '';
		z-index: 1001;
		border: 5px solid transparent;
	}
	[tooltip]::after {
		content: attr(tooltip);
		z-index: 1000;

		font-family: var(--description-font);
		text-align: center;

		min-width: 100px;
		max-width: 200px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		padding: 1ch 1.5ch;
		border-color: black;
		border-radius: 0.3ch;
		box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
		background: lightgreen;
		color: black;
	}

	[tooltip]:hover::before,
	[tooltip]:hover::after {
		display: block;
	}

	[tooltip='']::before,
	[tooltip='']::after {
		display: none !important;
	}

	[tooltip][flow^='down']::before {
		top: 100%;
		border-top-width: 0;
		border-bottom-color: #333;
	}

	[tooltip][flow^='down']::after {
		top: calc(100% + 5px);
	}

	[tooltip][flow^='down']::before,
	[tooltip][flow^='down']::after {
		left: 50%;
		transform: translate(-50%, 0.5em);
	}
	@keyframes tooltips-vert {
		to {
			opacity: 0.9;
			transform: translate(-50%, 0);
		}
	}
	[tooltip][flow^='down']:hover::before,
	[tooltip][flow^='down']:hover::after {
		animation: tooltips-vert 300ms ease-out forwards;
	}
}
