@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

:root {
	--main-font: 'Lato', sans-serif;
	--title-font: 'Merriweather', serif;
	--description-font: 'Roboto', sans-serif;
	--button-font: 'Roboto', sans-serif;
}

/* Light Theme */

/* #FFFFFF - main background
#F4F1EA - header / button
#FDF6F3 - Genre button color
#7FB0AD - small text color
#00635D - title color */

* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--title-font);
}

body {
	font-family: var(--main-font);
}

.search-container {
	padding-top: 100px;
	display: grid;
	grid-template-areas: 'search-section';
}
.search-section {
	grid-area: search-section;
}

@media (min-width: 1024px) {
	.search-container {
		display: grid;
		grid-template-columns: 1fr 4fr;
		grid-template-rows: auto auto;
		text-align: left;
	}
	.sidebar {
		display: grid;
		justify-content: center;
		align-content: start;
		grid-column: 1 / 2;
		grid-row: 1 / 3;
		padding: 20px 10px;
		border-right-color: #28a857;
		border-right-width: 5px;
	}
	.search-section {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
	}
}

/*  GO-to-top Button */

#myTopBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: grey; /* Set a background color */
	opacity: 0.9;
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 2px 13px 5px 13px;
	border-radius: 100%;
	font-size: 24px; /* Increase font size */
}

#myTopBtn:hover {
	background-color: #555; /* Add a dark-grey background on hover */
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
