@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

:root {
	--main-font: 'Lato', sans-serif;
	--title-font: 'Merriweather', serif;
	--description-font: 'Roboto', sans-serif;
	--button-font: 'Roboto', sans-serif;

	/* For Light Theme */
	--button-background: yellowgreen;
	--button-border-color: black;
	--button-hover-background: #28a857;
	--search-icon-color: #28a857;
	--heading-color: darkgreen;
	--extra-color: grey;
	--footer-background: #28a857;
}

* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--title-font);
	color: var(--heading-color);
}

body {
	font-family: var(--main-font);
}

.browse-container {
	padding: 100px 10px 10px 10px;
	display: grid;
	grid-template-areas: 'search-section';
}
.search-section {
	grid-area: search-section;
}
.sidebar {
	display: none;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	background: var(--footer-background);
	overflow: hidden;
	z-index: 2;
	padding: 0px;
}

footer p,
footer a,
footer a:visited,
FaLinkedin {
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	color: white;
	font-family: var(--description-font);
	padding-top: 10px;
}

@media (min-width: 1024px) {
	.browse-container {
		display: grid;
		grid-template-columns: 1fr 4fr;
		grid-template-rows: auto auto;
		text-align: left;
	}
	.sidebar {
		display: grid;
		justify-content: center;
		align-content: start;
		grid-column: 1 / 2;
		grid-row: 1 / 3;
		padding: 20px 10px;
		border-right-color: #28a857;
		border-right-width: 5px;
	}
	.search-section {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
	}

	footer {
		height: 45px;
	}

	footer p {
		font-size: 16px;
	}
}
