.mywishlist-container {
	padding: 100px 40px 40px 40px;
}

.mywishlist-message {
	padding: 20px;
	color: var(--heading-color);
}

.browse-link {
	font-weight: 800;
	color: var(--heading-color);
}
.browse-link:hover {
	text-decoration: underline;
	color: var(--heading-color);
}

@media (min-width: 768px) {
	.mywishlist-contents {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
