@media (min-width: 1024px) {
	.sidebar-special,
	.sidebar-genre {
		display: grid;
		justify-content: center;
		align-items: center;
	}

	.sidebar-genre {
		padding-top: 20px;
	}

	.sidebar-special button,
	.sidebar-genre button {
		width: 150px;
		padding: 10px;
		border-radius: 10px;
		font-family: var(--button-font);
		background-color: var(--button-background);
		margin: 8px;
	}

	.sidebar-special button:hover,
	.sidebar-genre button:hover {
		background-color: var(--button-hover-background);
	}
}
