/**** REACT NAV-BAR ***/

.navbar-dark .navbar-toggler {
	border-color: white !important;
	border-width: thin;
}

.navbar-dark .navbar-nav .nav-link {
	color: white !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
	text-decoration: underline;
}
